{% extends '::backend.html.twig' %}

{% block container %}

<div class="modal-load modal-load-fix">
    <div class="ar-container">
           <div class="item-swip cssload-piano">
            <div class="cssload-rect1"></div>
            <div class="cssload-rect2"></div>
            <div class="cssload-rect3"></div>
          </div>
     </div>
</div>
    
<div class="px-content">
    
    <div class="page-header m-b-0 p-b-0 b-b-0">
        <h1>
            <i class=" page-header-icon fa fa-user"></i>
            {% trans %}profile.edit{% endtrans %}
        </h1>
        
        <ul class="nav nav-tabs" id="account-tabs" role="tablist">
            
            <li class="nav-tab-item {% if not hasSelectSocial %}active{% endif %} hidden-xs">
                <a id="tabs-init" class="{% if not hasSelectSocial %}active{% endif %}" href="#account-profile" data-toggle="tab" aria-expanded="true">
                    {% trans %}profile.data{% endtrans %}
                </a>
            </li>
            <li data-select-tab="#ui-profile-pass" class="nav-tab-item hidden-xs">
                <a href="#ui-profile-pass"  data-toggle="tab" aria-expanded="false">
                    {% trans %}profile.password{% endtrans %}
                </a>
            </li>
           
            <li class="dropdown hidden-sm hidden-md hidden-lg pull-xs-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="tab-resize-icon"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#account-profile" data-toggle="tab" aria-expanded="true">
                            {% trans %}profile.data{% endtrans %}
                        </a>
                    </li>
                    
                    <li>
                        <a href="#ui-image" data-toggle="tab" aria-expanded="true">
                            {% trans %}profile.avatar{% endtrans %}
                        </a>
                    </li>
          
                    <li>
                        <a href="#ui-profile-pass" data-toggle="tab" aria-expanded="false">
                        {% trans %}profile.password{% endtrans %}
                        </a>
                    </li>
                    
                </ul>
            </li>
        </ul>
    </div>
    
    
    
    <div class="tab-content p-y-2">

       <div id="alert-image-type-and-size-error" class="alert alert-danger hide alert-dark">            
            <button aria-hidden="true" data-dismiss="alert" class="close cmd-close" type="button">×</button>
            {% trans %}control_panel.label_logo_type_and_size_error{% endtrans %}
       </div>
                            
      <div id="alert-image-type-error" class="alert alert-danger hide alert-dark">            
              <button aria-hidden="true" data-dismiss="alert" class="close cmd-close" type="button">×</button>
              {% trans %}control_panel.label_logo_error{% endtrans %}
      </div>
      <div id="alert-image-size-error" class="alert alert-danger hide alert-dark">            
               <button aria-hidden="true" data-dismiss="alert" class="close cmd-close" type="button">×</button>
              {% trans %}control_panel.label_logo_size_error{% endtrans %}
      </div>
        
        
       
      <form id="account-profile" class="tab-pane fade active in ui-control-form" action="{{ path('user_profile_edit') }}" enctype="multipart/form-data" method="post">
      <!-- Profile tab -->
      
        {% include '::feedback_messages.html.twig' %}
       
               
        <div class="row">
          <div class="col-md-8 col-lg-9">
          
            <div class="p-x-1">
                
                <fieldset class="form-group form-group-lg">
                            <a  href="#" class="btn btn-lg btn-info m-t-1 hidden-xs cmd-user-private-key">
                                <i class="fa fa-key"></i>
                                {{ 'user_profile.btn_get_private'|trans }}
                            </a> 
                            {#
                            {% if app.user.hasTwitter() %}
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"twitter"}) }}" href="{{ hwi_oauth_login_url('twitter') }}" class="cmd-connect btn btn-lg btn-info m-t-1 hidden-xs cmd-twitter">
                                <span class="btn-label-icon left fa fa-times cmd-disconnect-twitter"></span>
                                <i class="fa fa-twitter"></i>
                                {{ 'profile.twitter_connect_as'|trans({'%username%' : app.user.getTwitterName()}) }}
                            </a> 
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"twitter"}) }}" href="{{ hwi_oauth_login_url('twitter') }}" class="cmd-connect btn btn-lg btn-info m-t-1 btn-block hidden-sm hidden-md hidden-lg cmd-twitter">
                                <span class="btn-label-icon left fa fa-times cmd-disconnect-twitter"></span>
                                <i class="fa fa-twitter" style="display:block;float:left;margin-top:2px!important;"></i>
                                {{ app.user.getTwitterName() }}
                            </a>
                            {% else %}
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"twitter"}) }}" href="{{ hwi_oauth_login_url('twitter') }}" class="cmd-connect btn btn-lg btn-info m-t-1 hidden-xs cmd-twitter">
                                <i class="fa fa-twitter"></i>
                                {% trans %}profile.twitter_connect{% endtrans %}
                            </a> 
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"twitter"}) }}" href="{{ hwi_oauth_login_url('twitter') }}" class="cmd-connect btn btn-lg btn-info m-t-1 btn-block hidden-sm hidden-md hidden-lg cmd-twitter">
                                <i class="fa fa-twitter" style="display:block;float:left;margin-top:2px!important;"></i>
                                {% trans %}profile.twitter_connect{% endtrans %}
                            </a>
                            {% endif %}
                            #}
                </fieldset>
                        {#
                        <fieldset class="form-group form-group-lg">
                            {% if app.user.hasFacebook() %}
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"facebook"}) }}" href="{{ hwi_oauth_login_url('facebook') }}" class="cmd-connect btn btn-lg btn-primary m-t-3 hidden-xs cmd-facebook">
                                <span class="btn-label-icon left fa fa-times cmd-disconnect-facebook"></span>
                                <i class="fa fa-facebook"></i>
                                {{ 'profile.facebook_connect_as'|trans({'%username%' : app.user.getFacebookName()}) }}
                            </a>
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"facebook"}) }}" href="{{ hwi_oauth_login_url('facebook') }}" class="cmd-connect btn btn-lg btn-primary m-t-3 btn-block hidden-sm hidden-md hidden-lg cmd-facebook">
                                <span class="btn-label-icon left fa fa-times cmd-disconnect-facebook"></span>
                                <i class="fa fa-facebook" style="display:block;float:left;margin-top:2px!important;"></i>
                                {{  app.user.getFacebookName() }}
                            </a>
                            {% else %}
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"facebook"}) }}" href="{{ hwi_oauth_login_url('facebook') }}" class="cmd-connect btn btn-lg btn-primary m-t-3 hidden-xs cmd-facebook">
                                <i class="fa fa-facebook"></i>
                                {% trans %}profile.facebook_connect{% endtrans %}
                            </a>
                            <a data-url-connect="{{ path('user_profile_connect', {"socialname":"facebook"}) }}" href="{{ hwi_oauth_login_url('facebook') }}" class="cmd-connect btn btn-lg btn-primary m-t-3 btn-block hidden-sm hidden-md hidden-lg cmd-facebook">
                                <i class="fa fa-facebook" style="display:block;float:left;margin-top:2px!important;"></i>
                                {% trans %}profile.facebook_connect{% endtrans %}
                            </a>
                            {% endif %}
                        </fieldset>
                       
              <fieldset class="form-group form-group-lg dropdown">
                            {% if app.user.hasLinkedin() %}
                            <a {% if app.user.getSocialPages()|length > 0 %}data-toggle="dropdown"{% endif %} data-name="{{ 'profile.linkedin_connect_as'|trans({'%username%' : app.user.getLinkedinName()}) }}" data-url-connect="{{ path('user_profile_connect', {"socialname":"linkedin"}) }}" href="{{ hwi_oauth_login_url('linkedin') }}" class="btn btn-lg btn-facebook m-t-1 hidden-xs cmd-linkedin{% if app.user.getSocialPages()|length > 0 %} dropdown-toggle{% else %} cmd-connect{% endif %}">
                                <span class="btn-label-icon left fa fa-times cmd-disconnect-linkedin"></span>
                                <i class="fa fa-linkedin" style="display:block;float:left;padding-left: 4px!important;margin-top:2px!important;font-size:16px"></i>
                                &nbsp;{{ 'profile.linkedin_connect_as'|trans({'%username%' : app.user.getConnectAsLinkedinPageName()}) }}
                            </a>
                            <a {% if app.user.getSocialPages()|length > 0 %}data-toggle="dropdown"{% endif %} data-name="{{ 'profile.linkedin_connect_as'|trans({'%username%' : app.user.getLinkedinName()}) }}" data-url-connect="{{ path('user_profile_connect', {"socialname":"linkedin"}) }}" href="{{ hwi_oauth_login_url('linkedin') }}" class="btn btn-lg btn-facebook m-t-1 btn-block hidden-sm hidden-md hidden-lg cmd-linkedin {% if app.user.getSocialPages()|length > 0 %} dropdown-toggle{% else %} cmd-connect{% endif %}">
                                <span class="btn-label-icon left fa fa-times cmd-disconnect-linkedin"></span>
                                <i class="fa fa-linkedin" style="display:block;float:left;padding-left: 4px!important;margin-top:2px!important;font-size:16px"></i>
                                &nbsp;{{ app.user.getConnectAsLinkedinPageName() }}
                            </a>
                            {% if app.user.getSocialPages()|length > 0 %}
                            <ul class="dropdown-menu">
                                    {% for socialPage in app.user.getSocialPages() %}
                                        <li>
                                        <a class="cmd-linkedin-page" data-name="{{ 'profile.linkedin_connect_as'|trans({'%username%' : socialPage.name }) }}" data-id="{{ socialPage.id }}" data-url="{{ path('select_social', {"id":socialPage.id}) }}" data-selected="{% if socialPage.selected %}true{%else%}false{% endif %}"  href="{{ path('select_social', {"id":socialPage.id}) }}">
                                            {% if socialPage.selected %}
                                                {{ 'profile.linkedin_connect_as_next'|trans({'%username%' : app.user.getLinkedinName()}) }}
                                            {% else %}
                                                {{ 'profile.linkedin_connect_as_next'|trans({'%username%' : socialPage.name}) }}
                                            {% endif %}
                                        </a>
                                        </li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
     
                            {% else %}
                            <a data-name="" data-url-connect="{{ path('user_profile_connect', {"socialname":"linkedin"}) }}" href="{{ hwi_oauth_login_url('linkedin') }}" class="cmd-connect btn btn-lg btn-facebook m-t-3 hidden-xs cmd-linkedin">
                                <i class="fa fa-linkedin" style="display:block;float:left;padding-left: 4px!important;margin-top:2px!important;font-size:16px"></i>
                                &nbsp;{% trans %}profile.linkedin_connect{% endtrans %}
                            </a>
                            <a data-name="" data-url-connect="{{ path('user_profile_connect', {"socialname":"linkedin"}) }}" href="{{ hwi_oauth_login_url('linkedin') }}" class="cmd-connect btn btn-lg btn-block btn-facebook m-t-3 btn-block hidden-sm hidden-md hidden-lg cmd-linkedin">
                                <i class="fa fa-linkedin" style="display:block;float:left;padding-left: 4px!important;margin-top:2px!important;font-size:16px"></i>
                                &nbsp;{% trans %}profile.linkedin_connect{% endtrans %}
                            </a>
                            {% endif %}
              </fieldset>
               #}
              <fieldset class="form-group form-group-lg" style="display:block;clear:both">
                {{ form_label(form.cargo) }}
                {{ form_widget(form.cargo, {'attr': {'autocomplete':'off', 'class': 'form-control' }}) }}
              </fieldset>
              <fieldset class="form-group form-group-lg">
                   {{ form_label(form.departament) }}
                   {{ form_widget(form.departament, {'attr': {'autocomplete':'off','class': 'form-control' }}) }}
              </fieldset>
              {% if form.phones.vars.label == "error" %}
                <fieldset class="form-group form-group-lg">
                       <label for="backendbundle_profiletype_phones">{% trans %}profile.phones{% endtrans %}</label>
                       <input id="backendbundle_profiletype_phones" name="backendbundle_profiletype[phones]" maxlength="25" autocomplete="off" class="form-control" value="{{ form.phones.vars.attr.originalData }}" type="tel">
                       <span class="label label-danger">{% trans %}system.phone_error{% endtrans %}</span>
                </fieldset> 
              {% else %}
                  <fieldset class="form-group form-group-lg">
                  {{ form_label(form.phones) }}
                  {{ form_widget(form.phones, {'attr': {'maxlength':'60', 'autocomplete':'off', 'class': 'form-control' }}) }}
                  {{ form_errors(form.phones, {'attr': {'class': 'form-message validation-error' }}) }} 
                  </fieldset>
               {% endif %}
              <fieldset style="margin-bottom:20px;">

                    <label for="notif_general" style="display:block;float:left;margin-right: 8px;cursor: pointer">
                        {% trans %}profile.mail_alerts{% endtrans %}
                    </label> 
                    <label for="notif_general" class="switcher switcher-rounded switcher-primary switcher-sm switcher-blank" style="margin-top: 2px;display:block;float:left">
                        <input  type="checkbox" name="notif_general" id="notif_general" value="1" {% if profile.notify  %}checked="checked"{% endif %}>
                        
                        <div class="switcher-indicator">
                            <div class="switcher-yes">{% trans %}cmd.yes{% endtrans %}</div>
                            <div class="switcher-no">{% trans %}cmd.no{% endtrans %}</div>
                        </div>
                        
                    </label>
                </fieldset>
            </div>
                        
            <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-xs-left">
              <button type="submit" class="btn btn-primary btn-block">
                  {% trans %}profile.update{% endtrans %}
              </button> 
            </div>
          </div>

        
          <!-- Avatar -->
          <div class="col-md-4 col-lg-3 hidden-xs">
            <div class="panel bg-transparent">
              <div class="panel-body text-xs-center">
                {% if app.user.profile.image %}
                    <img class="profile-image profile-image-icon" data-profile_default_image="{{ asset('bundles/user/img/avatars/unknown.png') }}" style="max-width: 100%;" alt="image" src="{{ path("user_profile_avatar",  {'fileName':app.user.profile.image}) }}" />
                {% else %}
                    <img class="profile-image profile-image-icon" data-profile_default_image="{{ asset('bundles/user/img/avatars/unknown.png') }}" style="max-width: 100%;" alt="image" src="{{ asset('bundles/user/img/avatars/unknown.png') }}" />
                {% endif %}
              </div>
              <hr class="m-y-0">
              <div class="panel-body text-xs-center">
                <button type="button" class="btn-image btn btn-primary" >
                    {% trans %}profile.change_image{% endtrans %}
                </button>
                <div class="m-t-2 text-muted font-size-12">{% trans %}profile.image{% endtrans %}</div>
              </div>
            </div>
          </div>        
        </div>
        <div class="hide">
            {{ form_widget(form._token, {'attr': {'class': 'form-control token' }}) }}
        </div>
      </form>     
      <!-- / Profile tab -->

      <!-- Password tab -->

      <form autocomplete="off" id="ui-profile-pass" class="tab-pane fade ui-control-form-pass" action="{{ path('user_profile_change_pass') }}" enctype="multipart/form-data" method="post">
          <div id="alert-pass-type-change" class="alert alert-info alert-dark hide">            
              <button aria-hidden="true" data-dismiss="alert" class="close cmd-close" type="button">×</button>
              {% trans %}profile.passwd_change{% endtrans %}
          </div>
          <div id="alert-pass-type-error" class="alert alert-danger alert-dark hide">            
                                    
          </div>
          
          <fieldset class="form-group form-group-lg">
            <label for="account-new-password">{% trans %}profile.newpass{% endtrans %}</label>
            <input readonly  autocomplete="off" class="ui-control-text-input form-control ui-control-pass" name="backendbundle_profiletype[password][first]" id="account-new-password" type="password">
            
            <span class="help-block">{% trans %}profile.passwd_has_error{% endtrans %}</span>
          </fieldset>
          <fieldset class="form-group form-group-lg">
            <label for="account-new-password-repeat">{% trans %}profile.passverify{% endtrans %}</label>
            <input readonly  autocomplete="off" class="ui-control-text-input form-control ui-control-pass-again" name="backendbundle_profiletype[password][second]" id="account-new-password-repeat" type="password">
            <span class="help-block"></span>
          </fieldset>
          
          <div class="width-xs-auto width-md-auto width-lg-auto width-xl-auto pull-xs-left">
              <button data-loading-text="{% trans %}system.send_text{% endtrans %}" type="submit" class="btn btn-primary btn-block cmd-send">
              {% trans %}profile.passchange{% endtrans %}
              </button>
          </div>
          
          
          <div class="hide">
                {{ form_widget(formPass._token, {'attr': {'class': 'form-control token' }}) }}
          </div>
      </form>

      <!-- / Password tab -->

              
      <div id="ui-image" class="tab-pane fade ui-control-form-image">
           <div class="row">
               <div class="col-md-8 col-lg-9">
                    <div class="panel bg-transparent">
                        <div class="panel-body text-xs-center">
                        {% if app.user.profile.image %}
                            <img class="profile-image profile-image-icon" data-profile_default_image="{{ asset('bundles/user/img/avatars/unknown.png') }}" style="max-width: 100%;" alt="image" src="{{ path("user_profile_avatar",  {'fileName':app.user.profile.image}) }}" />
                        {% else %}
                            <img class="profile-image profile-image-icon" data-profile_default_image="{{ asset('bundles/user/img/avatars/unknown.png') }}" style="max-width: 100%;" alt="image" src="{{ asset('bundles/user/img/avatars/unknown.png') }}" />
                        {% endif %}
                        </div>
                        <hr class="m-y-0">
                        <div class="panel-body text-xs-center">
                            <button type="button" class="btn-image btn btn-primary" >
                                {% trans %}profile.change_image{% endtrans %}
                            </button>
                            <div class="m-t-2 text-muted font-size-12">{% trans %}profile.image{% endtrans %}</div>
                        </div>
                    </div>
               </div>
           </div>
      </div>
      
    </div>
          
                        
</div>
        
<form target="iframe-post-form" id="form_profile_image_send" name="form_profile_image_send" action="{{ path('user_profile_image_edit') }}"  class="hidden" enctype="multipart/form-data" method="post">
    {{ form_rest(formImage) }}
</form>
          
<form target="form_profile_image_resize" id="form_profile_image_resize" name="form_profile_image_resize" action="{{ path('user_profile_image_resize') }}"  class="hidden" enctype="multipart/form-data" method="post">
    {{ form_rest(formImageResize) }}
</form>

<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
                    {% trans %}control_panel.avatar_cut_and_resize{% endtrans %}	
                </h4>
            </div>
            <div class="modal-body">
		<div id="upload-demo" class="center-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}cmd.cancel{% endtrans %}</button>
                <button type="button" id="cropImageBtn" class="btn btn-primary">{% trans %}cmd.accept{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
                                             
<div id="modal-private-key" class="modal inmodal fade"  tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}cmd.close{% endtrans %}</span></button>
                    <h4 class="modal-title">
                        {% trans %}user_profile.btn_get_private{% endtrans %}
                    </h4>
                </div>
                <div class="modal-body">
                    <p id="private-key-text">
                        
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-info btn-ok cmd-accept-private-key" data-dismiss="modal">
                        {% trans %}cmd.accept{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('bundles/wall/css/animation_wait.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/user/js/bower_components/Croppie/croppie.css') }}" rel="stylesheet">
    <style>
    
    label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
  width: 350px;
  height: 350px;
  padding-bottom:25px;
}
    .tag-page-active
    {
        background-color: #ff434e !important;
    }
    
    .label, .badge
    {
       font-size: 100% !important;
    }
    
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/user/js/bower_components/Croppie/croppie.js') }}" type="text/javascript"></script>
    
    <script src="{{ asset('bundles/wall/js/bower_components/blob-util/dist/blob-util.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/wall/js/vendor/sjcl/sjcl.js') }}" type="text/javascript"></script>
    
    <script src="{{ asset('bundles/wall/js/arquematics/arquematics.core.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/user/js/arquematics/arquematics.fieldpass.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/user/js/arquematics/arquematics.userImage.js') }}" type="text/javascript"></script>
    
<script type="text/javascript">
$(document).ready(function() {

      
            $('#ui-profile-pass').fieldpass({
                    passLenght: 8,
                    txtErrorMatch:  '{% trans %}profile.passwd_must_match{% endtrans %}',   
                    txtStrong: '{% trans %}profile.passwd_strong{% endtrans %}',
                    txtMedium: '{% trans %}profile.passwd_midrange{% endtrans %}',
        
                    txtMediumLowercase: '{% trans %}profile.passwd_midrange_no_lowercase{% endtrans %}',
                    txtMediumCapital:   '{% trans %}profile.passwd_midrange_no_capital{% endtrans %}',
                    txtMediumNumbers:   '{% trans %}profile.passwd_midrange_no_numbers{% endtrans %}',
                    txtMediumSpecial:   '{% trans %}profile.passwd_midrange_no_special{% endtrans %}',
        
                    txtWeak: '{% trans %}profile.passwd_weak{% endtrans %}',
                    txtHasError: '{% trans %}profile.passwd_has_error{% endtrans %}',
                    hideTextControl: false});
            
            $('.cmd-user-private-key').click(function(e)
            {
                e.preventDefault();
                e.stopPropagation();
                
                if (arquematics.crypt)
                {
                   $('#private-key-text').html(arquematics.utils.readKeyForUser(arquematics.crypt)); 
                }
                
                $('#modal-private-key').modal('show');
            }); 
            
            arquematics.crypt = arquematics.utils.read('{{ user.id }}-{{ sessionname }}-key'  ,'arquematics.ecc');


            arquematics.userImage.init();
            
});
</script>

{% endblock %}
