{% extends '::frontend.html.twig' %}

{% block title %}{% trans %}menu.forgot_passwd{% endtrans %}{% endblock %}

{% block body_params %}class="px-responsive-bg-container"{% endblock %}

{% block container %}

  <div class="page-signin-modal modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="box m-a-0">
          <div class="box-row">

            <div class="box-cell col-md-5 bg-primary p-a-4">
                
              <ul class="list-group m-t-3 m-b-0 visible-md visible-lg visible-xl">
                <li class="font-size-15 list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-cubes text-white"></i>{% trans %}login.slogan_text1{% endtrans %}</li>
                <li class="font-size-15 list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon fa fa-comment text-white"></i>{% trans %}login.slogan_text2{% endtrans %}</li>
                <li class="font-size-15 list-group-item p-x-0 p-b-0 b-a-0"><i class="list-group-icon ion-unlocked text-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}login.slogan_text3{% endtrans %}</li>
              </ul>
              
            </div>

            <div class="box-cell col-md-7">

              <!-- Sign In form -->
               <form id="page-login-form" role="form" action="{{ path('user_login_check') }}" class="p-a-4" method="post" >
                
                <div class="logo-container">
                    <!-- logo -->
                    <img class="logo-login" src="{{ asset('/bundles/design/img/logo.png') }}" />
                    <!-- end logo --> 
                </div>
                     
                <h4 class="m-t-0 m-b-4 text-xs-center font-weight-semibold">
                    {% trans %}menu.forgot_passwd{% endtrans %}
                </h4>
                
              
                <div class="alert alert-info alert-dark">
                    <strong>{% trans %}menu.forgot_passwd1{% endtrans %}</strong>
                </div>
            

                {% include '::feedback_messages.html.twig' %}
                
                
                
                 <fieldset class="page-signin-form-group form-group col-input col-input-start input-effect">
                        <div class="page-signin-icon text-muted" style="cursor:pointer;"><i class="ion-at"></i></div>
                        <input type="email"  class="login-form page-signin-form-control form-control effect-16" placeholder="" id="username" name="username" required="">
                        <label class="active-label">{% trans %}menu.your_email{% endtrans %}</label>
                        <span class="focus-border"></span>
                 </fieldset>
                
               
                <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">
                    {% trans %}menu.send_passwd_reset{% endtrans %}
                </button>
                <div class="m-t-2 text-muted">
                  <a href="{{ path('user_login') }}" id="page-signin-forgot-back">{% trans %}menu.back_login{% endtrans %}</a>
                </div>
              </form>

            

            </div>
          </div>
        </div>
      </div>

      
    </div>
    </div>
         
    <div class="px-responsive-bg">
        <div class="px-responsive-bg-overlay" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.2;"></div>
        <img alt="" src="{{ asset('bundles/design/demo/bgs/2.jpg') }}" style="width: 100%; height: 674px; top: -70px; left: 0px;">
    </div>
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/design/css/fontello/css/fontello-embedded.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/design/css/login.css') }}" rel="stylesheet">
    {#
    <style>
        
    .logo-container
    {
       width: 100%;
       margin-bottom: 20px;
    }
    
    .logo-login
    {
      width: 200px;
      height: auto;
      display : block;
      margin : auto; 
    }
    
    .page-signin-modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
      display: block;
    }

    .page-signin-form-group { position: relative; }

    .page-signin-icon {
      position: absolute;
      line-height: 21px;
      width: 36px;
      border-color: rgba(0, 0, 0, .14);
      border-right-width: 1px;
      border-right-style: solid;
      left: 1px;
      top: 5px;
      text-align: center;
      font-size: 15px;
    }

    html[dir="rtl"] .page-signin-icon {
      border-right: 0;
      border-left-width: 1px;
      border-left-style: solid;
      left: auto;
      right: 1px;
    }

    html:not([dir="rtl"]) .page-signin-icon + .page-signin-form-control { padding-left: 50px; }
    html[dir="rtl"] .page-signin-icon + .page-signin-form-control { padding-right: 50px; }

    #page-signin-forgot-form {
      display: none;
    }

    /* Margins */

    .page-signin-modal > .modal-dialog { margin: 30px 10px; }

        /*= input focus effects css
=========================== */
:focus{outline: none;}

.col-input
{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 25px;
} 

.col-input-start
{
   margin-top: 10px;  
}

.col-input-end
{
   margin-bottom: 35px !important;  
}

input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

/*https://codepen.io/Takumari85/pen/RaYwpJ*/
.effect-16, 
.effect-17, 
.effect-18
{
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-16 ~ label
{
    position: absolute;
    left: 45px;
    width: 100%;
    top: 5px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{
    top: -16px; font-size: 12px;
    color: #3399FF;
    left: 0px;
    transition: 0.3s;
}
    .input-effect .form-control
    {
        height: 50px;
    }
    
    .input-effect .page-signin-icon
    {
      line-height: 40px;  
      font-size: 20px;
      color: #7a7a7a;
    }
    
    .input-effect label
    {
       top: 5px; 
       font-size: 20px;
       line-height: 40px; 
    }
    
    .input-effect input
    {
       font-size: 20px; 
    }
    
    .btn-primary
    {
       font-size: 20px; 
    }
    
    @media (min-width: 544px) {
      .page-signin-modal > .modal-dialog { margin: 60px auto; }
    }
    </style>
    #}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    $(document).ready(function()
    {
         $(".input-effect input").each(function( index ) {
            if($(this).val() != ""){
		$(this).addClass("has-content");
            }else{
		$(this).removeClass("has-content");
            }
        });
        
        $(".input-effect input").on( "change", function(e) {
            if($(this).val() != ""){
		$(this).addClass("has-content");
            }else{
		$(this).removeClass("has-content");
            }
        });
        
        $(".input-effect input").focusout(function(){
            if($(this).val() != ""){
		$(this).addClass("has-content");
            }else{
		$(this).removeClass("has-content");
            }
	});
        
        $('#username').on("focus", function (e)  
        {
            $(this).removeAttr('readonly');
        });
        
        $('.active-label').on("click", function (e)
        {
            e.preventDefault();
            
            var $input = $(e.target).parent('.input-effect').find('input');
            
            $input.removeClass("has-content");
            
            //$input.removeAttr('readonly');
            
            $input.addClass("has-content");
           
            $input.focus();
        });
        
    });
</script>
{% endblock %}