<div data-url="{{ wallLink.url }}"
     data-thumb="{{ wallLink.thumb }}"
     data-provider="{{ wallLink.provider }}"   
     data-oembed_html="{{ wallLink.oembed }}"
     data-link-id="{{ wallLink.id }}"
     id="link-{{ wallLink.id }}" class="wall-link-item wall-link-video-item">
   

    <div class="widget-tree-comments-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span data-link-id="{{ wallLink.id }}" id="remove-link-{{ wallLink.id }}" class="icon-remove-link cmd-remove-link fa fa-times-circle link-icon-remove pull-md-right"></span>  
    </div>

    <div class="wall-link-dinamic hide">
        
    </div>
    
    {% if wallLink.thumb %}
        <div class="wall-link-video-static">
            <div class="wall-link-image-container wall-link-image col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="{{ wallLink.thumb }}" width="100%" height="auto" class="cmd-wall-link-image link-image link-video-image"/>
            </div>

            <div class="wall-link-divider wall-link-text col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <p>
                    <a href='{{ wallLink.url }}' target='_blank'>{{ wallLink.title }} - {{ wallLink.provider }}</a>
                </p>
                <p>{{ wallLink.description }}</p>
            </div>
        </div> 
    {% else %}
        <div class="wall-link-divider wall-link-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                <a href='{{ wallLink.url }}' target='_blank'>{{ wallLink.title }} - {{ wallLink.provider }}</a>
            </p>
            <p>{{ wallLink.description }}</p>
        </div>  
    {% endif %}              
</div>