<li data-count={{ countNotifications }} data-wait_ajax="true" class="dropdown notifications-bell hide">
    <a href="{{ path('activity') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="px-navbar-icon fa fa-envelope"></i>
        <span class="px-navbar-icon-label">{% trans %}menu.notifications{% endtrans %}</span>
        <span data-count="{{ countNotifications }}" class="px-navbar-label label label-success hi notifications-bell-count {% if countNotifications == 0  %}hide{% endif %}">{{ countNotifications }}</span>
    </a>
    <div class="dropdown-menu p-a-0 notifications-bell-menu" style="width: 350px">
        <div id="navbar-notifications" style="position: relative;">
            {% include '::Includes/recent_notifications_simple.html.twig' %}
        </div>
        <a href="{{ path('activity') }}" class="widget-more-link">{% trans %}menu.activity_more{% endtrans %}</a>
    </div>
</li>  